<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	      version="3.0">
	      
	      <!-- tambien podemos poner la url de un Controlador -->
	      <welcome-file-list>
	      	<welcome-file>inicio</welcome-file>
	      </welcome-file-list>
	      
	      <!-- 
	      
	      	paginas de errores para los controladores
	      	en los JSPs hay que indiccar con una directiva cual es la pagina a donde tiene que ir en caso de error
	      	 
	      -->
<!-- 	      <error-page>	
	      	<error-code>500</error-code>
	      	<location>/error.jsp</location>
	      </error-page>	 -->     

	      
	      
	     <!--  tambien se puede poner Exceptions 
	      <error-page>	
	      	<exception-type>java.lang.NullPointerException</exception-type>
	      	<location>/error.jsp</location>
	      </error-page>
	     -->
	      

	      
</web-app>