				/* DISEÑO PARA ORDENADORES */

* {
    box-sizing: border-box;
}

								/* LAYOUT */
/* html
   ========================================================================== */
/* body
   ========================================================================== */
   
body {
    font-size: 16px;
   	font-family: Arial, sans-serif;
    background-color: #0c9696;
    padding: 0;
    margin: 0;
}

/* nav
   ========================================================================== */
   
nav {
    margin: 0px 0px 0px 0px;
}

.menuWrapper {
    background-color: black;
    position: sticky;
    top: 0;
    z-index:999;
/*     line-height: 30px; */
}

.menu {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.menu a {
    margin-right: 20px;
    color: white;
    text-decoration: none;
    font-size: 28px;
    font-weight: 300;
}

.menu a:hover {
    color: rgb(245, 210, 81);
}

/* main
   ========================================================================== */
   
main {
	max-width: 1024px;
    margin:0 auto 120px;
}

/* header
   ========================================================================== */
   
/* section
   ========================================================================== */
   
section {
    border: 1px solid grey;
    border-radius: 5px;

    background-color: white;

    padding: 40px 40px;
    margin-bottom: 50px;

    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

    /* -webkit-box-shadow: 0 0 10px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 10px 10px rgba(0,0,0,0.75);
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.75); */
}

section p {
    font-size: 18px;
}
   
/* aside
   ========================================================================== */
/* footer
   ========================================================================== */

footer {
    max-width: 1024px;
    margin: auto;
    padding: 15px 30px;
}

footer p {
    text-align: center;
    color: white;
    margin: 0px 0px 0px 0px;
}

.footerWrapper {
    background-color: rgba(0, 0, 0, 0.507);
    width: 100%;
    position: fixed;
    bottom: 0;
}

.copy{
	margin: 0 20px 0 0;
	font-weight: 100;
	font-size: 18px;
}
   
   
								/* TEXTO */
/* hgroup, h1, h2, h3 ...
   ========================================================================== */
   
h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: center;
}

h1 {
    color: black;
    font-size: 3em;
    margin: 40px 0px 40px 0px;
}

h2 {
    font-size: 1.5em;
    margin: 0 10px 20px;
}

/* p
   ========================================================================== */
   
p {
    padding: 10px;
   	line-height: 25px;
}
   
/* span
   ========================================================================== */
/* utilidades texto: code, pre, mark, dfn, 
   ========================================================================== */
   
code {
    background-color: rgba(255, 255, 0, 0.521);
}
   
/* font-awesome
   ========================================================================== */
   
.iconoFooter {
    font-size: 18px;
    color: white;
    margin: 0px 5px;
}
.iconoMenu{
	font-size: 18px;
	color: white;
	margin: 0 10px 0 0;
}
   
								/* BOTONES */
/* Button ...
   ========================================================================== */
   
button{
	margin: 10px;
}

button:focus{
	outline: none;
}
   
.botonEstilo001 {
	margin: 20px auto 40px;
	font-size: 2.0rem;
	padding: 1.25rem 2.5rem;
	display: block;
	background-color: orange;
	border: 1px solid orange;
	color: #ffffff;
	font-weight: 300;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
 
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.botonEstilo001:hover {
    background-color: #ffffff;
    color: orange;
    border-color: orange;
}

#botonIrTop {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#botonIrTop:hover {

    color: white;
}
   
								/* ENLACES */
/* a
   ========================================================================== */
   
a{
	text-decoration: none;
}

								/* FORMULARIOS */
/* form ...
   ========================================================================== */
   
form {
    padding: 20px;
}

input[type="text"] {
    padding: 2px 0 2px 5px;
}

input[type="text"]:valid {
    color: green;
}

input[type="text"]:invalid {
    color: red;
}
   
.container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

/* form decente */
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact input[type="password"],
/* #contact input[type="checkbox"], */
#contact label,
#contact select,
#contact textarea,
#contact button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
    background: #F9F9F9;
    padding: 25px;
    margin: 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

#contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact input[type="password"],
/* #contact input[type="checkbox"], */
/* #contact label, */
#contact select,
#contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#contact input[type="text"]:first-child{
	margin-top: 5px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact input[type="password"]:hover,
#contact input[type="checkbox"]:hover,
#contact select:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: teal;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact button[type="submit"]:hover {
    background: teal;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
    text-align: center;
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}

/* Otros forms */
.formEstilo001 {
    border: 1px solid grey;
    margin: 10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
    
								/* IMAGENES */
/* figure, img, figcaption
   ========================================================================== */
   
img {
    width: 100%;
}
   
								/* TABLAS */
/* table, caption, thead, tbody, tfooter, th, td
   ========================================================================== */
   
table {
    max-width: 300px;
    margin: auto;
}

td {
    width: 50%;
    padding: 10px 10px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
}

.tablaAlumnos{
	border: 1px solid black;
	border-radius: 5px;
	
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.tablaAlumnos tr:nth-child(even) {
	background: #CCC
	}
	
.tablaAlumnos tr:hover:nth-child(even){
	background: pink;
}

.tablaAlumnos2 td{
	font-size: 24px;
	background-color: white;
	border: 3px solid black;
	color: black;
	text-align: left;
}
.tablaAlumnos2 td:hover{
	background-color: teal;
	color: white;
}

.tablaAlumnos2 .negro{
	background-color: black;
}
   
								/* LISTAS */
/* ol, ul, li, dd, dt, dl
   ========================================================================== */
   
ol, ul, dl{
	padding: 20px;
	line-height: 30px;
}

ol li{
	list-style-type: decimal;
}

ul li{
	list-style-type: disc;
}

dt {
    font-weight: 700;
    margin: 0px 0px 5px 0px;
}
   
								/* UTILIDADES */
/* hr, progress, meter
   ========================================================================== */

   								/* DIV */
/* div
   ========================================================================== */
   
.parallax {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    background-image: url('/helloweb/images/nicolas-lobos-NR_tXTuyTak-unsplash.jpg');
    font-family: Merriweather, sans-serif;
    
    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.parallax h1 {
	font-weight: 500;
    color: white;
    font-size: 82px;
    padding-top: 3em;
    margin: 0 0 20px;
}

.parallax h2 {
    margin-top: 10px;
    font-family: Arial, sans-serif;
    font-size: 28px;
    color: rgb(245, 210, 81);
}
   
      									/* CLASES GENERALES*/
/* 
   ========================================================================== */
   
.blanco {
    color: white;
}

.blockAuto {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.lineaForm {
    margin: 10px;
}

.textoTachado {
    text-decoration: line-through;
}

.dl {
    margin: 0px 0px 10px 0px;
}

.width600 {
    max-width: 600px;
}

      									/* CLASES GENERALES*/
/* Menú resonsive
   ========================================================================== */

        .topnav {
        	display: block;
        	max-width: 1024px;
    		margin-left: auto;
    		margin-right: auto;

            overflow: hidden;
            background-color: black;
        }

        .topnav a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }

        .active {
            background-color: orange;
            color: white;
        }

        .topnav .icon {
            display: none;
        }

        .dropdown {
            float: left;
            overflow: hidden;
        }

        .dropdown .dropbtn {
            font-size: 15px;
            border: none;
            outline: none;
            color: white;
            padding: 15px 16px 12px;
            background-color: inherit;
            font-family: inherit;
            margin: 0;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: white;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown-content a {
            float: none;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

        .topnav a:hover,
        .dropdown:hover .dropbtn {
            background-color: #555;
            color: white;
        }

        .dropdown-content a:hover {
            background-color: #ddd;
            color: black;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        @media screen and (max-width: 768px) {

            .topnav a:not(:first-child),
            .dropdown .dropbtn {
                display: none;
            }

            .topnav a.icon {
                float: right;
                display: block;
                font-size: 17px;
            }

            .topnav.responsive {
                position: relative;
            }

            .topnav.responsive .icon {
                position: absolute;
                right: 0;
                top: 0;
            }

            .topnav.responsive a {
                float: none;
                display: block;
                text-align: left;
            }

            .topnav.responsive .dropdown {
                float: none;
            }

            .topnav.responsive .dropdown-content {
                position: relative;
            }

            .topnav.responsive .dropdown .dropbtn {
                display: block;
                width: 100%;
                text-align: left;
            }
        }
      								/* ID's */
/* id
   ========================================================================== */